{% extends "base.html" %}

{% block content %}

    <h2>{{ evento.nombre }} - {{ evento.anio }}</h2>
    {% if evento.sorteo_realizado %}<h3 style="color:red;"> Sorteo Realizado {% else %}<h3 style="color:green;"> Esperando Sorteo  {% endif %}</h3>
    {% if evento.sorteo_realizado %} <h4 style="color:red;">Destinatario:  {{ santa.destinatario.usuario.get_full_name }}</h4>{% endif %}

    <!-- Puedes agregar más detalles del evento aquí -->

    <h2>Participantes</h2>

    <table class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>usuario</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="CuerpoCatalogo">
    {% for santa in santas  %}
    <tr>
        <td>{{ santa.usuario.get_full_name }}</td>
        <td>{{ santa.usuario.username }}</td>
        <td class="text-center">
        <!-- Read book buttons -->
        <a type="button" class="read-book btn btn-sm btn-primary" href="{% url 'update_santa' santa.pk evento.pk  %}">
            <span class="fa fa-eye"></span>
        </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>


    <a href="{% url 'home' %}" class="btn btn-danger">Volver</a>

{% endblock %}