{% extends "base.html" %}

{% block content %}

    <h2>{{ evento.nombre }}</h2>
    <p>Año: {{ evento.anio }}</p>
    <p>Activo: {% if evento.activo %} Sí {% else %} No {% endif %}</p>
    <p>Sorteo Realizado: {% if evento.sorteo_realizado %} Sí {% else %} No {% endif %}</p>

    <!-- Puedes agregar más detalles del evento aquí -->

    <h2>Lista de Santas en este Evento</h2>
    <ul>
        {% for santa in santas %}
            <li>{{ santa.usuario.username }}</li>
        {% empty %}
            <li>No hay Santas en este evento.</li>
        {% endfor %}
    </ul>

    <table class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>usuario</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="CuerpoCatalogo">
    {% for santa in santas  %}
    <tr>
        <td>{{ santa.usuario.username }}</td>
        <td>{{ santa.usuario.first_name }} {{ santa.usuario.last_name }}</td>
        <td class="text-center">
        <!-- Read book buttons -->
        <a type="button" class="read-book btn btn-sm btn-primary" href="{% url 'update_santa' santa.pk %}">
            <span class="fa fa-eye"></span>
        </a>
        <!-- Update book buttons -->
        <a type="button" class="update-book btn btn-sm btn-info" href="" >
            <span class="fa fa-pen"></span>
        </a>
        <!-- Delete book buttons -->
        <a type="button" class="delete-book btn btn-sm btn-danger" href="">
            <span class="fa fa-trash"></span>
        </a>
        </td>
    </tr>
    {% endfor %}


    <a href="{% url 'home' %}">Volver</a>
{% endblock %}