{% extends "base.html" %}
{% load crispy_forms_tags %} 

{% block content %}
  <h2>Editando opciones para {{ santa.usuario.get_full_name }}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ formset.management_form }}
    {% for form in formset %}
      <div class="formset-form">

        {{ form|crispy }}
      </div>
    {% endfor %}
    <button type="submit">Guardar cambios</button>
  </form>

  <a href="{% url 'detalle_evento' evento.pk %}" class="btn btn-danger">Volver</a>
{% endblock %}