{% extends "base.html" %}
{% load crispy_forms_tags %} 

{% block content %}
  <h2>Editando opciones para {{ santa.usuario.get_full_name }}</h2>

  <a href="{% url 'detalle_evento' evento.pk %}" class="btn btn-danger">Volver</a>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ formset.management_form }}
    {% crispy formset helper %}
    {{ formset.non_form_errors }}
    <button type="submit" style="btn btn-primary">Guardar cambios</button>
  </form>

  <a href="{% url 'detalle_evento' evento.pk %}" class="btn btn-danger">Volver</a>
{% endblock %}